.slide {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    color: #c9d1d9;
    background-color: #121212;
    font-size: 1.5rem;

}

:global(.markdown-body) {
    .slide {
        :global(p) {
        max-width: none;
        }
    }
}

.slide__contents {
    width: 80vw;
    height: 90vh;
    overflow-y: scroll;
    &::-webkit-scrollbar {
        display: none;
    }
    scrollbar-width: none;
    -ms-overflow-style: none;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) calc(100% - 10vh), rgba(0, 0, 0, 0));
    padding-bottom: 10vh;
}
